.bform {
    overflow: hidden;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.4)),url('/assets/fundo.png');
    background-size: cover;
    height: 100vh;
}

.form {
    width: 90%;
    height: 90%;
    border-radius: 1rem;
}

.wrapper-titulo {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo, .voltar {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Poppins", Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

.voltar {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
    background-color: #FFF;
    border-radius: 0.5rem;
    padding: 0.2rem;
    color: #183a67;
    font-size: 1rem;
    text-decoration: none;
}

.icon-voltar {
    width: 2rem;
    height: auto;
}