.main {
    transition: 1s;
    height: 100vh;
    display: flex;
}

.logos {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 0;
}

.sct {
    flex: 1;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line::after {
    content: '';
    border-left: #FFF 0.1rem solid;
    height: 24rem;
}


.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.7rem;
}


.gdf {
    display: flex;
    width: 10rem;
    height: auto;
}

.hd {
    width: 30rem;
    height: auto;
    border-radius: 3rem;
}

.ssedf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ssedf > h2 {
    font-weight: 600;
    color: #FFF;
    text-transform: uppercase;
    
}

.container-sv {
    display: flex;
    justify-content: center;
    width: 15rem;
    height: 8rem;
    background-color: #FFF;
    border-radius: 2rem;
    padding: 0.7rem
}


.container-hd {
    display: flex;
    justify-content: center;
    box-shadow: 4px 4px 5px #036813;
    width: 15rem;
    background-color: #FFF;
    border-radius: 2rem;
    padding: 0.7rem
}


.sv {
    width: 12rem;
    height: auto;
}

.container-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    transition: 0.5s ease;
    background-color: rgba(39,130,90, 0.6);
    padding: 1rem 2.5rem;
    border-radius: 1rem;
}

.container-link:hover {
    transform: scale(1.1);
}

.icon-link {
    width: 2.5rem;
}

#cloud {
    width: 3.5rem;
}

.text {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
    color: #FFF;
    margin-left: -2rem;
    margin-right: 0.5rem;
}

.text-blue{
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3rem;
    color: #234577;
    margin-left: -2rem;
    margin-right: 0.5rem;
}

.login {
    background-color: #fff;
    box-shadow: 4px 4px 5px #036813;
    border-radius: 1.5rem;
    padding: 1rem 3.5rem;
}

.login >.text {
    color:#0000CC;
    font-weight: 600;
    font-size: 1.4rem;
}

@media screen and (max-width: 700px){
    .main {
        flex-direction: column;
    }

    .gdf {
        transform: scale(0.6);
        top: -9rem;
    }

    .container-sv{
        transform: scale(0.6);
        top: 10rem;
    }

    .container-link {
        padding: 0 2rem;
    }

    .icon-link {
        width: 1.5rem;
    }

    .text {
        font-weight: 300;
        font-size: 1rem;
    }

    .sct {
        align-items: flex-start;
    } 

    .login {
        padding: 0.5rem;
        margin-left: 1.5rem;
    }

    .login >.text {
        font-weight: 500;
        font-size: 1rem;
    }
}
